USE [master]
GO
/****** Object:  Database [SGE]    Script Date: 26/11/2025 03:55:09 ******/
CREATE DATABASE [SGE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SGE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SGE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SGE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SGE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SGE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SGE]
GO
/****** Object:  Table [dbo].[Envio]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envio](
	[CodigoSeguimiento] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[FechaCreacion] [datetime2](0) NULL,
	[FechaAsignacion] [datetime2](0) NULL,
	[FechaDespacho] [datetime2](0) NULL,
	[FechaEntrega] [datetime2](0) NULL,
	[Destino] [nvarchar](50) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdRepartidor] [int] NOT NULL,
	[IdDestinatario] [int] NOT NULL,
	[FechaCancelacion] [datetime2](0) NULL,
	[costo] [decimal](18, 0) NULL,
 CONSTRAINT [PK__Envio__6A877755C17D99B6] PRIMARY KEY CLUSTERED 
(
	[CodigoSeguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPaquete]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPaquete](
	[Id] [int] NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Peso] [decimal](18, 0) NULL,
	[Fragil] [bit] NOT NULL,
	[Costo] [decimal](18, 0) NULL,
	[EnvioId] [int] NULL,
 CONSTRAINT [PK__ItemPaqu__3214EC07BBCCFB35] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](150) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Activo] [bit] NULL,
	[Disponible] [bit] NULL,
	[Telefono] [varchar](50) NULL,
	[Domicilio] [varchar](50) NULL,
	[Localidad] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[CodigoPostal] [varchar](20) NULL,
	[Documento] [varchar](50) NULL,
	[TipoUsuario] [varchar](50) NULL,
 CONSTRAINT [PK__Usuario__3214EC07B41B89AB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [Envio_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [Envio_Cliente]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [Envio_Destinatario] FOREIGN KEY([IdDestinatario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [Envio_Destinatario]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [Envio_Repartidor] FOREIGN KEY([IdRepartidor])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [Envio_Repartidor]
GO
ALTER TABLE [dbo].[ItemPaquete]  WITH CHECK ADD  CONSTRAINT [FK_ItemPaquete_Envio] FOREIGN KEY([EnvioId])
REFERENCES [dbo].[Envio] ([CodigoSeguimiento])
GO
ALTER TABLE [dbo].[ItemPaquete] CHECK CONSTRAINT [FK_ItemPaquete_Envio]
GO
/****** Object:  StoredProcedure [dbo].[AgregarEnvio]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[AgregarEnvio]
(
    @Estado INT,
    @FechaAsignacion DATETIME2(0) = NULL,
    @FechaDespacho DATETIME2(0) = NULL,
    @FechaEntrega DATETIME2(0) = NULL,
    @Destino NVARCHAR(50),
    @IdCliente INT,
    @IdRepartidor INT,
    @IdDestinatario INT,
    @FechaCancelacion DATETIME2(0) = NULL
)
AS
BEGIN
   
   DECLARE @CodigoSeguimiento int;

   select @CodigoSeguimiento = ISNULL(max(CodigoSeguimiento),0) + 1 from Envio

    INSERT INTO Envio (
        CodigoSeguimiento,
        Estado,
        FechaCreacion,
        FechaAsignacion,
        FechaDespacho,
        FechaEntrega,
        Destino,
        IdCliente,
        IdRepartidor,
        IdDestinatario,
        FechaCancelacion
    )
    VALUES (
        @CodigoSeguimiento,
        @Estado,
        SYSDATETIME(),
        @FechaAsignacion,
        @FechaDespacho,
        @FechaEntrega,
        @Destino,
        @IdCliente,
        @IdRepartidor,
        @IdDestinatario,
        @FechaCancelacion
    );

 
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarItemPaquete]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarItemPaquete]
    @Descripcion NVARCHAR(50),
    @Peso DECIMAL(18,2),
    @Fragil BIT,
    @Costo DECIMAL(18,2),
    @EnvioId NVARCHAR(50)
AS
BEGIN
    DECLARE @Id INT
    SELECT @Id = ISNULL(max(Id),0)+1 FROM ItemPaquete
	     INSERT INTO dbo.ItemPaquete (Id, Descripcion, Peso, Fragil, Costo, EnvioId)
    VALUES (@Id, @Descripcion, @Peso, @Fragil, @Costo, @EnvioId);
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarUsuario]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AgregarUsuario]
	
    @Email VARCHAR(50),
    @Password VARCHAR(150),
    
    @Nombre VARCHAR(50) = NULL,
    @Activo BIT = NULL,
    @Disponible BIT = NULL,
    @Telefono VARCHAR(50) = NULL,
    @Domicilio VARCHAR(50) = NULL,
    @Localidad VARCHAR(50) = NULL,
    @Provincia VARCHAR(50) = NULL,
    @CodigoPostal VARCHAR(20) = NULL,
    @Documento VARCHAR(50) = NULL,
    @TipoUsuario VARCHAR(50) = NULL
AS
BEGIN
	DECLARE @Id INT
    SELECT @Id = ISNULL(max(Id),0) + 1 FROM DBO.Usuario
	
    INSERT INTO Usuario (
        Id,Email, Password, Nombre, Activo, Disponible, 
        Telefono, Domicilio, Localidad, Provincia, 
        CodigoPostal, Documento, TipoUsuario
    )
    VALUES (
        @Id,@Email, @Password, @Nombre, @Activo, @Disponible, 
        @Telefono, @Domicilio, @Localidad, @Provincia, 
        @CodigoPostal, @Documento, @TipoUsuario
    );
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoEnvio]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarEstadoEnvio]
    @Id INT,
    @NuevoEstado INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Envio
    SET 
        Estado = @NuevoEstado,
        
        -- Si pasamos a Asignado (1), guardamos FechaAsignacion
        FechaAsignacion = CASE WHEN @NuevoEstado = 1 THEN GETDATE() ELSE FechaAsignacion END,

        -- Si pasamos a EnCamino (2), guardamos FechaDespacho
        FechaDespacho   = CASE WHEN @NuevoEstado = 2 THEN GETDATE() ELSE FechaDespacho END,

 
        FechaEntrega    = CASE WHEN @NuevoEstado = 3 THEN GETDATE() ELSE FechaEntrega END,

 
        FechaCancelacion= CASE WHEN @NuevoEstado = 4 THEN GETDATE() ELSE FechaCancelacion END

    WHERE 
        CodigoSeguimiento = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarEnvio]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarEnvio]
  @CodigoSeguimiento NVARCHAR(50),
    @Estado            INT,
    @FechaCreacion     DATETIME,
    @FechaAsignacion   DATETIME,
    @FechaDespacho     DATETIME,
    @FechaEntrega      DATETIME,
    @Destino           NVARCHAR(50),
    @ClienteId         INT,
    @RepartidorId      INT,
    @DestinatarioId    INT
AS
BEGIN
	   DELETE FROM dbo.Envio
    WHERE CodigoSeguimiento = @CodigoSeguimiento;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarItemPaquete]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarItemPaquete]
   @Id INT
AS
BEGIN
	 DELETE FROM dbo.ItemPaquete WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarUsuario]   
    @Id INT
AS
BEGIN
    DELETE FROM Usuario 
    WHERE Id=@Id;
   
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarEnvio]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarEnvio]
(
    @CodigoSeguimiento INT,
    @Estado INT,
    @Destino NVARCHAR(50),
    @IdCliente INT,
    @IdRepartidor INT,
    @IdDestinatario INT
)
AS
BEGIN
   
    UPDATE Envio
    SET
        Estado = @Estado,
        Destino = @Destino,
        IdCliente = @IdCliente,
        IdRepartidor = @IdRepartidor,
        IdDestinatario = @IdDestinatario
    WHERE CodigoSeguimiento = @CodigoSeguimiento;

    
    IF @Estado = 1
        UPDATE Envio
        SET FechaAsignacion = SYSDATETIME()
        WHERE CodigoSeguimiento = @CodigoSeguimiento;

    
    IF @Estado = 2
        UPDATE Envio
        SET FechaDespacho = SYSDATETIME()
        WHERE CodigoSeguimiento = @CodigoSeguimiento;

    
    IF @Estado = 3
        UPDATE Envio
        SET FechaEntrega = SYSDATETIME()
        WHERE CodigoSeguimiento = @CodigoSeguimiento;

   
    IF @Estado = 4
        UPDATE Envio
        SET FechaCancelacion = SYSDATETIME()
        WHERE CodigoSeguimiento = @CodigoSeguimiento;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificarItemPaquete]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarItemPaquete]
   @Id INT,
    @Descripcion NVARCHAR(50),
    @Peso DECIMAL(18,2),
    @Fragil BIT,
    @Costo DECIMAL(18,2),
    @EnvioId NVARCHAR(50)
AS
BEGIN
	     UPDATE dbo.ItemPaquete
    SET Descripcion = @Descripcion,
        Peso = @Peso,
        Fragil = @Fragil,
        Costo = @Costo,
        EnvioId = @EnvioId
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarUsuario]
    
    @Id INT,
    
    -- Datos obligatorios (no pueden quedar nulos en la BD)
    @Email VARCHAR(50),
    @Password VARCHAR(150),
    
    -- Datos opcionales (pueden ser NULL si se quiere borrar el dato o dejarlo vacío)
    @Nombre VARCHAR(100) = NULL,
    @Activo BIT = NULL,
    @Disponible BIT = NULL,
    @Telefono VARCHAR(50) = NULL,
    @Domicilio VARCHAR(255) = NULL,
    @Localidad VARCHAR(100) = NULL,
    @Provincia VARCHAR(100) = NULL,
    @CodigoPostal VARCHAR(20) = NULL,
    @Documento VARCHAR(50) = NULL,
    @TipoUsuario VARCHAR(50) = NULL
AS
BEGIN

    
    UPDATE Usuario
    SET 
        Email = @Email,
        Password = @Password,
        Nombre = @Nombre,
        Activo = @Activo,
        Disponible = @Disponible,
        Telefono = @Telefono,
        Domicilio = @Domicilio,
        Localidad = @Localidad,
        Provincia = @Provincia,
        CodigoPostal = @CodigoPostal,
        Documento = @Documento,
        TipoUsuario = @TipoUsuario
    WHERE 
        Id = @Id;

   
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEnviosPorIdCliente]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerEnviosPorIdCliente]
	@IdUsuario INT
AS
BEGIN
	SELECT * FROM Envio 
	WHERE Envio.IdCliente = @IdUsuario 
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEnviosPorIdDestinatario]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerEnviosPorIdDestinatario]
	@IdUsuario INT
AS
BEGIN
	SELECT * FROM Envio 
	WHERE Envio.IdDestinatario = @IdUsuario 
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEnviosPorIdRepartidor]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerEnviosPorIdRepartidor]
	@IdUsuario INT
AS
BEGIN
	SELECT * FROM Envio 
	WHERE Envio.IdRepartidor = @IdUsuario 
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerItemPaquetesPorIdEnvio]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerItemPaquetesPorIdEnvio]
	@IdEnvio INT
AS
BEGIN
	SELECT * FROM ItemPaquete
	WHERE ItemPaquete.EnvioId = @IdEnvio
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosUsuarios]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTodosLosUsuarios]

AS
BEGIN
	SELECT * FROM Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorId]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerUsuarioPorId]
	@IdUsuario INT
AS
BEGIN
	SELECT * FROM Usuario
	WHERE Usuario.Id = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorMail]    Script Date: 26/11/2025 03:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerUsuarioPorMail] 
	@Email NVARCHAR(50)
AS
BEGIN

	SELECT * FROM Usuario 
    WHERE Email = @Email;
END
GO
USE [master]
GO
